@inject FruitIdentifierService FruitService;

@page "/"

<PageTitle>FruitIdentifier</PageTitle>
<div class="col-10">
    <div class="row">
        <div class="d-flex justify-content-center">
            <img style="max-width:50%; max-height:50%;" src="@imgPath" />
        </div>
        <InputFile OnChange="OnFileChanged"></InputFile>
    </div>
    <br />
    <div class="row">
        <div class="">
            <pre>Status: @status</pre>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <pre>Result: @result</pre>
        </div>
    </div>
</div>

@code {
    string? status = "Awating image";
    string? result;
    string? path;
    string? imgPath;

    void OnFileChanged(InputFileChangeEventArgs e)
    {
        status = "Getting Image Prediction";
        result = "";
        try
        {
            path = $"C:\\Users\\Aramoniax\\Desktop\\Fruit identifier\\FruitIdentifier-Web\\FruitIdentifier-Web\\wwwroot\\Images\\{e.File.Name}";
            imgPath = $"Images/{e.File.Name}";
            _ = InvokeAsync(StateHasChanged);
            result = FruitService.GetImagePrediction(path);
            status = "Done";
        }
        catch (Exception ex)
        {
            result += "\nError: " + ex.Message;
            _ = InvokeAsync(StateHasChanged);
        }
    }
}